body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ensure full height of the viewport */
}

h1 {
    color: #3498db;
}

label {
    display: block;
    margin: 10px 0;
    color: white;
}

input {
    padding: 8px;
    margin: 5px 0;
    width: 200px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

#result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    height: 35px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
